body
{
    background-color: #2b2e4a;
}

h1
{
    font-family: 'Creepster';
    font-size: 50px;
    color: #903749;
}

p
{
    font-family: 'Black And White Picture';
    font-size: 25px;
    text-indent: 50px;
    color: #e84545;
}